<% include ./partials/header.ejs%>
<form class="ui form container" action="/login" method="POST">
    <input type="text" class="ui field" name="username" placeholder="username" required="true">
    <input type="password" class="ui field" name"password" placeholder="password" required="true">
    <button class="ui teal button">LOGIN</button>
</form>
<% include ./partials/footer.ejs%>